<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>

    <section name="consumidorFila_A" type="Br.Ticket.Mensagens.ConsumidorFilaSection, Br.Ticket.Mensagens" allowDefinition="Everywhere" allowLocation="true"/>
    <section name="consumidorFila_B" type="Br.Ticket.Mensagens.ConsumidorFilaSection" allowDefinition="Everywhere" allowLocation="true"/>

  </configSections>

  <consumidorFila_A
    connectionString="user id=gp;password=gp;data source=//localhost:1521/xe"
    fila="EventosContrato"
    idAplicacaoConsumidora="GP_Consumer"
   />

  <consumidorFila_B
   connectionString="user id=gp;password=gp;data source=//localhost:1521/xe"
   fila="EventosContrato"
   idAplicacaoConsumidora="GP_Consumer"
   />

  <appSettings>

    <!--Configs específicas OracleAQ-->

    <!--<add key="OracleAQ_TipoFila" value="P2P"/>-->
    <add key="OracleAQ_TipoFila" value="PubSub"/>

    <!--<add key="OracleAQ_TipoPayload" value="RAW"/>-->
    <add key="OracleAQ_TipoPayload" value="XML"/>

    <add key="OracleAQ_CharSet" value="ISO-8859-1"/>

    <add key="AssemblyPluginConsumidor" value="/plugins/Br.Ticket.Mensagens.Consumidores.OracleAQ"/>
    <add key="ClassePluginConsumidor" value="Br.Ticket.Mensagens.Consumidores.OracleAQ.OracleAQ"/>
  </appSettings>
</configuration>