<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="configuracaoConsumidorFila" type="Br.Ticket.Mensagens.ConfiguracaoConsumidorFila" />    
    
  </configSections>

  <configuracaoConsumidorFila
    connectionString="user id=gp;password=gp;data source=//localhost:1521/xe"
    fila="EventosContrato"
    idAplicacaoConsumidora="GP_Consumer"
   />
  
  
  <appSettings>
    <!--<add key="OracleAQTipoFila" value="P2P"/>--> 
    <add key="OracleAQTipoFila" value="PubSub"/>

    <add key="AssemblyOracleAQ" value="/plugins/Br.Ticket.Mensagens.Consumidores.OracleAQ"/>
    <add key="ClasseOracleAQ" value="Br.Ticket.Mensagens.Consumidores.OracleAQ.OracleAQ"/>
  </appSettings>
</configuration>