<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    
    <section name="consumidorFilaSection" type="Br.Ticket.Mensagens.ConsumidorFilaSection" allowDefinition="Everywhere" allowLocation="true"/>    
    
  </configSections>

  <consumidorFilaSection
    connectionString="user id=gp;password=gp;data source=//localhost:1521/xe"
    fila="EventosContrato"
    idAplicacaoConsumidora="GP_Consumer"
   />
  
  
  <appSettings>
    <!--<add key="OracleAQTipoFila" value="P2P"/>--> 
    <add key="OracleAQTipoFila" value="PubSub"/>
    <add key="OracleTipoPayload" value="XML"/>
    <add key="OracleCharSet" value="ISO-8859-1"/>
    
    <!--<add key="OracleTipoPayload" value="RAW"/>-->


   
    <add key="AssemblyPluginConsumidor" value="/plugins/Br.Ticket.Mensagens.Consumidores.OracleAQ"/>
    <add key="ClassePluginConsumidor" value="Br.Ticket.Mensagens.Consumidores.OracleAQ.OracleAQ"/>
  </appSettings>
</configuration>